In [2]:
import numpy as np

import pandas as pd

from sklearn.neighbors import KNeighborsClassifier

In [3]:
salary = pd.read_csv('adults.txt')

salary.shape

(32561, 15)

In [4]:
# 數據預處裡
salary.head()

,age,workclass,final_weight,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
y = salary['salary'] # 目標值

In [6]:
X = salary.iloc[:,[0,1,3,5,6,8,9,-2,-3]]

In [7]:
X.head()

,age,workclass,education,marital_status,occupation,race,sex,native_country,hours_per_week
0,39,State-gov,Bachelors,Never-married,Adm-clerical,White,Male,United-States,40
1,50,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,White,Male,United-States,13
2,38,Private,HS-grad,Divorced,Handlers-cleaners,White,Male,United-States,40
3,53,Private,11th,Married-civ-spouse,Handlers-cleaners,Black,Male,United-States,40
4,28,Private,Bachelors,Married-civ-spouse,Prof-specialty,Black,Female,Cuba,40

In [8]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   education       32561 non-null  object
 3   marital_status  32561 non-null  object
 4   occupation      32561 non-null  object
 5   race            32561 non-null  object
 6   sex             32561 non-null  object
 7   native_country  32561 non-null  object
 8   hours_per_week  32561 non-null  int64
dtypes: int64(2), object(7)
memory usage: 2.2+ MB

In [9]:
knn = KNeighborsClassifier() # str 不能計算距離
knn.fit(X,y)

ValueError: could not convert string to float: 'State-gov'

In [10]:
#數據預處理:數據轉換  workclass做轉換
workclass =X['workclass'].unique()
m= {}

for i,work in enumerate(workclass):
    m[work] =i

In [11]:
X['workclass'] = X['workclass'].map(m)

<ipython-input-11-055bb92adc8c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['workclass'] = X['workclass'].map(m)

In [12]:
X.head()

,age,workclass,education,marital_status,occupation,race,sex,native_country,hours_per_week
0,39,0,Bachelors,Never-married,Adm-clerical,White,Male,United-States,40
1,50,1,Bachelors,Married-civ-spouse,Exec-managerial,White,Male,United-States,13
2,38,2,HS-grad,Divorced,Handlers-cleaners,White,Male,United-States,40
3,53,2,11th,Married-civ-spouse,Handlers-cleaners,Black,Male,United-States,40
4,28,2,Bachelors,Married-civ-spouse,Prof-specialty,Black,Female,Cuba,40

In [13]:
# https://www.youtube.com/watch?v=GMp3GYFbdIM&list=PLwDQt7s1o9J65aQ6HYN4LaqRkX8ncKG1D&index=62

#31:31

In [14]:
X.columns

Index(['age', 'workclass', 'education', 'marital_status', 'occupation', 'race',
       'sex', 'native_country', 'hours_per_week'],
      dtype='object')

In [15]:
#文字轉化數據Demo
u = X['occupation'].unique()
np.argwhere(u == 'Sales')[0,0]

5

In [16]:
#文字轉化數據
for col in X.columns[2:-1]:
    
    u=X[col].unique()
    
    def convert(x):
        return np.argwhere(u == x)[0,0]
    
    X[col] = X[col].map(convert)

<ipython-input-16-a6b175ef1a2c>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[col] = X[col].map(convert)

In [17]:
X.head()

,age,workclass,education,marital_status,occupation,race,sex,native_country,hours_per_week
0,39,0,0,0,0,0,0,0,40
1,50,1,0,1,1,0,0,0,13
2,38,2,1,2,2,0,0,0,40
3,53,2,2,1,2,1,0,0,40
4,28,2,0,1,3,1,1,1,40

In [18]:
from sklearn.model_selection import train_test_split  #將數據一分為二

In [19]:
# 並非是隨機抽樣，而是先打亂 在取出

In [20]:
#將X,y的數據透過train_test_split切割
X_train,X_test,Y_train,Y_test=  train_test_split(X,y,test_size=0.2)

In [21]:
X_train.shape

(26048, 9)

In [22]:
Y_train.shape

(26048,)

In [23]:
y.unique()

array(['<=50K', '>50K'], dtype=object)

In [24]:
knn = KNeighborsClassifier(n_neighbors=5)

knn.fit(X_train,Y_train)



y_ = knn.predict(X_test)

result = y_ == Y_test #判斷

result.mean()

0.7707661599877169

In [25]:
# 試著優化

knn = KNeighborsClassifier(n_neighbors=10)

knn.fit(X_train,Y_train)



y_ = knn.predict(X_test)

result = y_ == Y_test #判斷

result.mean()

0.7796714263780132

In [26]:
# 試著優化2

knn = KNeighborsClassifier(n_neighbors=15,weights='distance')

knn.fit(X_train,Y_train)



y_ = knn.predict(X_test)

result = y_ == Y_test #判斷

result.mean()

0.782435129740519

In [27]:
# 試著優化3
#歸一化?? normailize
#歸一化消除屬性差異

# a.最大值最小值歸一化
v_min = X.min()
v_max = X.max()

In [28]:
X2 =(X-v_min)/(v_max - v_min)
X2.head()

,age,workclass,education,marital_status,occupation,race,sex,native_country,hours_per_week
0,0.301370,0.000,0.000000,0.000000,0.000000,0.00,0.0,0.00000,0.397959
1,0.452055,0.125,0.000000,0.166667,0.071429,0.00,0.0,0.00000,0.122449
2,0.287671,0.250,0.066667,0.333333,0.142857,0.00,0.0,0.00000,0.397959
3,0.493151,0.250,0.133333,0.166667,0.142857,0.25,0.0,0.00000,0.397959
4,0.150685,0.250,0.000000,0.166667,0.214286,0.25,1.0,0.02439,0.397959

In [29]:

X_train,X_test,Y_train,Y_test = train_test_split(X2,y,test_size =0.2)

knn = KNeighborsClassifier(n_neighbors=15,weights='distance')

knn.fit(X_train,Y_train)



y_ = knn.predict(X_test)

result = y_ == Y_test #判斷

result.mean()

0.8160601873176724

In [30]:
# b. Z-score 平均值 有正有負

v_mean = X.mean()

v_std  = X.std()


X3 = (X-v_mean)/v_std

X3.head()

,age,workclass,education,marital_status,occupation,race,sex,native_country,hours_per_week
0,0.030670,-1.884571,-0.991569,-0.866068,-1.378100,-0.353403,-0.703061,-0.255743,-0.035429
1,0.837096,-1.068730,-0.991569,-0.066951,-1.082777,-0.353403,-0.703061,-0.255743,-2.222119
2,-0.042641,-0.252888,-0.702015,0.732166,-0.787453,-0.353403,-0.703061,-0.255743,-0.035429
3,1.057031,-0.252888,-0.412460,-0.066951,-0.787453,1.240608,-0.703061,-0.255743,-0.035429
4,-0.775756,-0.252888,-0.991569,-0.066951,-0.492130,1.240608,1.422309,-0.057541,-0.035429

In [31]:

X_train,X_test,Y_train,Y_test = train_test_split(X3,y,test_size =0.2)

knn = KNeighborsClassifier(n_neighbors=15,weights='distance')

knn.fit(X_train,Y_train)



y_ = knn.predict(X_test)

result = y_ == Y_test #判斷

result.mean()

0.7994779671426377

In [32]:
#預處理  有歸一化操作StandardScaler,MinMaxScaler 以上的皈依化操作
from sklearn.preprocessing import StandardScaler,MinMaxScaler

In [33]:
s = StandardScaler()

X4 = s.fit_transform(X)
X4[:5]

array([[ 0.03067056, -1.88460023, -0.99158435, -0.8660817 , -1.37812112,
        -0.35340882, -0.70307135, -0.25574647, -0.03542945],
       [ 0.83710898, -1.0687461 , -0.99158435, -0.06695205, -1.08279326,
        -0.35340882, -0.70307135, -0.25574647, -2.22215312],
       [-0.04264203, -0.25289198, -0.70202542,  0.7321776 , -0.78746539,
        -0.35340882, -0.70307135, -0.25574647, -0.03542945],
       [ 1.05704673, -0.25289198, -0.4124665 , -0.06695205, -0.78746539,
         1.240627  , -0.70307135, -0.25574647, -0.03542945],
       [-0.77576787, -0.25289198, -0.99158435, -0.06695205, -0.49213753,
         1.240627  ,  1.42233076, -0.05754204, -0.03542945]])

In [34]:
m = MinMaxScaler()


X5 = m.fit_transform(X)
X5[:5]

array([[0.30136986, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.39795918],
       [0.45205479, 0.125     , 0.        , 0.16666667, 0.07142857,
        0.        , 0.        , 0.        , 0.12244898],
       [0.28767123, 0.25      , 0.06666667, 0.33333333, 0.14285714,
        0.        , 0.        , 0.        , 0.39795918],
       [0.49315068, 0.25      , 0.13333333, 0.16666667, 0.14285714,
        0.25      , 0.        , 0.        , 0.39795918],
       [0.15068493, 0.25      , 0.        , 0.16666667, 0.21428571,
        0.25      , 1.        , 0.02439024, 0.39795918]])

In [35]:

## 整理:

##  map 來將字串轉化成數值(量化) 
##  提升準確率 ->
##       修改算法參數
##       處裡數據
##       數據挖掘,添加一列(自由組合age*workclass ,未知)

In [36]:

# 保存模型 跟視訊上不一樣
import joblib 

#保存
joblib.dump(knn,'./model')

['./model']

In [44]:

#讀取
model = joblib.load('./model')
model

KNeighborsClassifier(n_neighbors=15, weights='distance')

In [45]:

model.score(X_test,Y_test)

0.7994779671426377

In [46]:

#保存  不進行壓縮
model = joblib.dump(knn,'./model.m')

In [48]:

#保存  不進行壓縮
model = joblib.dump(knn,'./model.m',compress=9)

In [50]:
#讀取
model9 = joblib.load('./model.m')


model9.score(X_test,Y_test)

0.7994779671426377

In [ ]:
#KNN模型存儲時:

    #將數據所有訓練的數據點保存
    #KNN最簡單